<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add some toys</h1>
    <form action="/toys/<%=  %>?_method=PUT" method="POST">
        <input value="<%= toy.toy %>" name="toy" placeholder="Name" type="text"><br>
        Price? $<input value="<%= toy.price %>" name="price" type="number">
        <button type="submit">Save</button>
    </form>
</body>
</html>