<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some toys</h1>
    <a href="/toys/new">Add some things</a>
    <ul>
        <% toys.forEach(toy => { %>
        <li><span style="color: red"><%= toy.toy %></span> - $<%= toy.price %></li>
        <% }); %>
    </ul>
</body>
</html>