<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here's your toy!</h1>
    <h2><span style="color:magenta"><%= toy.toy %></span> - $<%= toy.price %></h2>
    <a href="/toys/<%= toy._id %>/edit"><button>Edit</button></a>
</body>
</html>